{
    "plugins": [
        "transform-runtime",
        [
            "babel-plugin-transform-builtin-extend",
            {
                "globals": ["Error"]
            }
        ]
    ],
    "presets":
    ["es2015", "es2016", "es2017"]
}
