{
    "extends": "airbnb",
    "plugins": [
        "prettier",
        "jest",
        "react"
    ],
    "parser": "babel-eslint",
    "env": {
        "node": true,
        "jest": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
    },
    "rules": {
        "indent":[
            "error",
            4,
            {
                "SwitchCase":1
            }
        ],
    }
}
